<!-- BEGIN:main -->
<html>

<head>
  
  </head>
<body>
<table>
	<tr>
	<td colspan="2">
		<span style="font-size:16pt;font-weight: bold;">LISTADO DE SOCIOS</span>
	</td>
	</tr>

</table>
<table cellspacing="0" cellpadding="0" border="1">
	<thead>
	<tr><th >{lbl_detalle_nroSocio}</th><th >{lbl_detalle_nombre}</th><th >{lbl_detalle_apellido}</th><th width="50px">{lbl_detalle_dni}</th><th >{lbl_detalle_tipo}</th><th >{lbl_detalle_mail}</th><th >{lbl_detalle_telefono}</th><th >{lbl_detalle_direccion}</th><th >{lbl_detalle_abona}</th></tr></thead>

	<!-- BEGIN:detalle -->
	<tr><td>{nroSocio}</td><td>{nombre}</td><td>{apellido}</td><td>{dni}</td><td>{tipo}</td><td>{mail}</td><td>{telefono}</td><td>{direccion}</td><td>{abona}</td></tr>
	<!-- END:detalle -->


</table>
</body>
</html>
<!-- END:main -->