<!-- BEGIN:main -->
<script language="javascript"
	src="{WEB_PATH}js/autocomplete/simpleAutoComplete.js"></script>
<link rel="stylesheet"
	href="{WEB_PATH}css/autocomplete/simpleAutoComplete.css"
	type="text/css" />
<script>

<script>

$(function() {

	$("#montoCuota").focus();
	
});
</script>

<div>
<form class="cuentas_form" id="cuotaSocio_form" onsubmit="return validate('cuotaSocio_form');" action="{action}" method="{method}">

		<fieldset>
		<legend>{legend}</legend>

		<rasty id="backSuccess" />
	    <rasty id="oid" />
		
		
		
		<div class="row">
			<div class="col-3">
				<div class="item">
				    <label for="montoCuota">{lbl_montoCuota}: *</label>
		    		<rasty id="montoCuota" />
				</div>
				
			</div>
			<div class="col-4">
				<div class="item">
				    <label for="socio">{lbl_socio}: *</label>
		    		<rasty id="socio" />
				</div>
			</div>
			
			<div class="col-2">
				<div class="item">
				    <label for="monto">{lbl_monto} *:</label>
		    		<rasty id="monto" />
				</div>
			</div>
			<div style="clear: both"></div>
		</div>
		<div class="row">
			<div class="col-3">
				<div class="item">
				    <label for="vencimiento">{lbl_vencimiento} *:</label>
		    		<rasty id="vencimiento" />
				</div>
			</div>
			<div class="col-3">
				<div class="item">
				    <label for="fechaPago">{lbl_fechaPago}:</label>
		    		<rasty id="fechaPago" />
				</div>
				
			</div>
			<div class="col-3">
				<div class="item">
				    <label for="pagada">{lbl_pagada}:</label>
		    		<rasty id="pagada" />
				</div>
			</div>
			
			
			<div style="clear: both"></div>
		</div>
		
	</fieldset>
	

</form>
<!-- BEGIN: msg_error -->
<fieldset class="ui-state-error">
	{msg}	
</fieldset>
<!-- END: msg_error -->
	
<form  class="cuentas_form" id="buttons{inputId}">
	<fieldset class="tblFooters">
	
		<button type="button"  id="input_submit" onclick="javascript: submitFormulario('cuotaSocio_form'); "><i class="icon-checkmark on-left"></i>{lbl_submit}</button>

		<button type="button"  id="input_button_2" onclick="javascript: window.location.href = '{cancel}'; "><i class="icon-cancel-2 on-left"></i>{lbl_cancel}</button>
	
	</fieldset>
</form>	
</div>
<!-- END:main -->