<!-- BEGIN:main -->
<script>


function submitBuscarSocios(){

	$( "#page" ).val( 1 );
	
	//buscarSocios();

	submitBuscar("{WEB_PATH}", "#socios_filter{id}", "#{resultDiv}");
}

function ordenarSocios(name, type){

	$( "#orderBy" ).val(name);
	$( "#orderByType" ).val(type);
	
	submitBuscar("{WEB_PATH}", "#socios_filter{id}", "#{resultDiv}");
}

function paginarSocios(page){
	$( "#page" ).val(page);

	submitBuscar("{WEB_PATH}", "#socios_filter{id}", "#{resultDiv}");
}

function seleccionarSocio(event, socioId, rowId, checkboxId){


	/* muestro un pop con las opciones sobre el socio */
	
	gotoLink("{linkSeleccionar}?oid="+socioId);
	
}

function eliminarCallback(data){

	console.log( data["info"] );
	submitBuscar("{WEB_PATH}", "#socios_filter{id}", "#{resultDiv}");
}

function cambioEstadoCallback(data){

	console.log( data["info"] );
	submitBuscar("{WEB_PATH}", "#socios_filter{id}", "#{resultDiv}");
}

$(document).ready(function(){

	submitBuscar("{WEB_PATH}", "#socios_filter{id}", "#{resultDiv}");

	 $(".item input").keyup(function (e) {
         if (e.keyCode == 13) {
             // función para capturar el enter en el filtro default.
        	 submitBuscar("{WEB_PATH}", "#socios_filter{id}", "#{resultDiv}");
         }
     });
	
});


</script>


<div id="divSocios{id}Toggle1" style="display:none">
<form class="cuentas_form">
		<fieldset>
		<legend class="search_again" id="legend_buscar{id}_open">{legend_again}</legend>
		</fieldset>
</form>		
</div>
<div id="divSocios{id}Toggle2">
<form class="cuentas_form" id="socios_filter{id}">

		<fieldset>
		
		<legend id="legend_buscar{id}">{legend}</legend>		
		<div class="row">
			  <div class="col-5">
				<div class="item">
				    <label for="nombre">{lbl_nombre}:</label>
			    	<rasty id="nombre" />
			    	
				</div>
			</div>
			<div class="col-5">
				<div class="item">
				    <label for="apellido">{lbl_apellido}:</label>
			    	<rasty id="apellido" />
				</div>
			</div>
			<div class="col-2">
				<div class="item">
				    <label for="dni">{lbl_dni}:</label>
			    	<rasty id="dni" />
				</div>
			</div>
			
			<div style="clear: both"></div>
		</div>
		<div class="row">
			  <div class="col-4">
				<div class="item">
				    <label for="tipoSocio">{lbl_tipoSocio}:</label>
			    	<rasty id="tipoSocio" />
			    	
				</div>
			</div>
			<div class="col-8">
				<div class="item">
				    <label for="email">{lbl_email}:</label>
			    	<rasty id="email" />
				</div>
			</div>
			
			
			<div style="clear: both"></div>
		</div>
		
		
	</fieldset>
	
	<input type="hidden" name="model" value="{model}">
	<input type="hidden" name="filter" value="{filter}">
	<input type="hidden" name="sortCallback" value="ordenarSocios">
	<input type="hidden" name="paginationCallback" value="paginarSocios">
	<input type="hidden" name="selectRowCallback" value="{selectRowCallback}">
	<input type="hidden" id="orderBy" name="orderBy" value="{orderBy}">
	<input type="hidden" id="orderByType" name="orderByType" value="{orderByType}">
	<input type="hidden" id="page" name="page" value="1">

</form>
<form  class="cuentas_form" id="buttons{id}">
	<fieldset class="tblFooters">
	
		<button id="input_submit_ajax_Socio{id}"  type="button"  onclick="javascript: $( '#page' ).val( 1 ); submitBuscar('{WEB_PATH}', '#socios_filter{id}', '#{resultDiv}');"><i class="icon-search on-left"></i>{lbl_submit}</button>
	
	</fieldset>
</form>	
</div>
<!-- END:main -->